<div class="loaded" hx-disable="">
    <article class="entry-content feed-id-{{ .entry.FeedID }} inline" dir="auto">
        {{ .safeContent }}
    </article>

    {{ if or .entry.Enclosures .entry.Tags }}
    <details class="entry-content-addons">
        <summary>
            {{ if .entry.Enclosures }}
            Attachments ({{ len .entry.Enclosures }})
            {{ end }}
            {{ if .entry.Tags }}
            Tags ({{ len .entry.Tags }})
            {{ end }}
        </summary>

        {{ if .entry.Enclosures }}
        <div class="addon entry-enclosures">

            {{ range .entry.Enclosures }}
            <details class="entry-enclosure" name="attachments">
                <summary>
                    {{ .MimeType }}
                    {{ if gt .Size 0 }}{{ formatFileSize .Size }}{{ end }}
                </summary>

                <p class="enclosure-download">
                    <a
                      href="{{ .URL }}"
                      {{ $.user.TargetBlank }}
                      rel="noopener noreferrer" referrerpolicy="no-referrer">
                        {{ .OriginalURL }}
                    </a>
                </p>

                {{ if .IsImage }}
                <p class="enclosure-image">
                    <img
                      src="{{ .URL }}"
                      {{ if .Width }}width="{{ .Width }}"{{ end }}
                      {{ if .Height }}height="{{ .Height }}"{{ end }}
                      loading="lazy" />
                </p>
                {{ end }}
            </details>
            {{ end }}

        </div>
        {{ end }}

        {{ if .entry.Tags }}
        <div class="addon entry-tags">
            {{ if .entry.Enclosures }}{{ t "entry.tags.label" }}{{ end }}
            <ul class="entry-tags-list comma-list">
                {{ range .entry.Tags }}
                <li><a href="{{ route ( ifElseString $.entry.Unread "tagEntries" "tagEntriesAll") "feedID" $.entry.FeedID "tagName" (urlEncode .) }}"><strong>{{ . }}</strong></a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </details>
    {{ end }}
</div>
