<div class="youtube">
    {{ if .description -}}
    <pre class="description">{{ .description }}</pre>
    {{- end }}

    <details class="video">
        <summary>Embedded Youtube video</summary>
        <iframe
          src="{{ .iframeSrc }}"
          width="{{ or .width 640 }}"
          height="{{ or .height 390 }}"
          frameborder="0"
          allowfullscreen
          loading="lazy"
          sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
          referrerpolicy="strict-origin-when-cross-origin"
          credentialless>
        </iframe>
    </details>
</div>
