<div class="youtube">
    {{ .Description }}

    <details class="video" name="youtube-iframe">
        <summary>Embedded Youtube video</summary>
        <iframe
          src="{{ .IframeSrc }}"
          width="{{ or .Width 640 }}"
          height="{{ or .Height 390 }}"
          frameborder="0"
          allowfullscreen
          loading="lazy"
          sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
          referrerpolicy="strict-origin-when-cross-origin"
          credentialless>
        </iframe>
    </details>
</div>
