<div class="youtube">
    {{ if .Description -}}
    <pre class="description">{{ .Description }}</pre>
    {{- end }}

    {{ if .Thumbnail.URL -}}
    <details class="thumbnail" name="youtube-{{ .Entry.Hash }}">
        <summary>Video thumbnail</summary>
        <img src="{{ .Thumbnail.URL }}"
             width="{{ or .Thumbnail.Width 480 }}"
             height="{{ or .Thumbnail.Height 360 }}"/>
    </details>
    {{- end }}

    <details class="video" name="youtube-{{ .Entry.Hash }}">
        <summary>Embedded Youtube video</summary>
        <iframe
          src="{{ .IframeSrc }}"
          width="{{ or .Width 640 }}"
          height="{{ or .Height 390 }}"
          frameborder="0"
          allowfullscreen
          loading="lazy"
          sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
          referrerpolicy="strict-origin-when-cross-origin"
          credentialless>
        </iframe>
    </details>
</div>
