{{ define "title"}}{{ t "page.search.title" }} ({{ .total }}){{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title">
    <h1 id="page-header-title">{{ t "page.search.title" }} ({{ .total }})</h1>
</section>
{{ end }}

{{ define "content"}}
<search role="search">
    <form class="search-form"
          action="{{ route "search" }}"
          hx-boost="true"
          aria-labelledby="search-input-label">
        <div class="search-input-row">
            <input type="search" name="q" id="search-input" aria-label="{{ t "search.label" }}" placeholder="{{ t "search.placeholder" }}" {{ if $.searchQuery }}value="{{ .searchQuery }}"{{ else }}autofocus{{ end }} required>
            <button type="submit" class="button button-primary" data-label-loading="{{ t "form.submit.loading" }}">{{ t "search.submit" }}</button>
        </div>
        <label class="search-filter"><input type="checkbox" name="unread" value="1" {{ if $.showOnlyUnreadEntries }}checked{{ end }}> {{ t "menu.show_only_unread_entries" }}</label>
    </form>
</search>

{{ if $.searchQuery }}
{{   if .entries }}
{{     template "entries_list.html" . }}
{{   else }}
{{     template "info.html" "alert.no_search_result" }}
{{   end }}
{{ end }}
{{ end }}
