{{ define "title"}}{{ .tagName }} ({{ .total }}){{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title page-header-title-count">
    <h1 id="page-header-title" dir="auto">
        {{ .tagName }}
        <span aria-hidden="true"> ({{ .total }})</span>
    </h1>
    <span id="page-header-title-count" class="sr-only">{{ plural "page.tag_entry_count" .total .total }}</span>
</section>
{{ end }}

{{ define "content"}}
{{   if .entries }}
{{     template "entries_list.html" . }}
{{   else }}

<p role="alert" class="alert alert-info">{{ t "alert.no_tag_entry" }}</p>

{{   end }}
{{ end }}
