{{ define "title"}}{{ .tagName }} ({{ .total }}) | {{ .feed.Title }}{{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title page-header-title-count">
    <h1 id="page-header-title" dir="auto">
        {{ .tagName }}
        <span aria-hidden="true"> ({{ .total }})</span>
        | {{ .feed.Title }}
    </h1>

    <span class="sr-only">
        {{ if .showOnlyUnreadEntries }}
        {{ plural "page.unread_entry_count" .total .total }}
        {{ else }}
        {{ plural "page.total_entry_count" .total .total }}
        {{ end }}
    </span>

    <nav aria-label="{{ .tagName }} {{ t "menu.title" }}">
        {{ if .entries }}
        <li>
            <button
              class="page-button"
              data-action="markPageAsRead"
              data-label-question="{{ t "confirm.question" }}"
              data-label-yes="{{ t "confirm.yes" }}"
              data-label-no="{{ t "confirm.no" }}"
              data-label-loading="{{ t "confirm.loading" }}"
              data-show-only-unread="{{ if .showOnlyUnreadEntries }}1{{ end }}">{{ icon "mark-page-as-read" }}{{ t "menu.mark_page_as_read" }}</button>
        </li>
        {{ end }}

        {{ if .showOnlyUnreadEntries }}
        <li>
            <a class="page-link" href="{{ route "tagEntriesAll" "feedID" .feed.ID "tagName" .tagName }}">{{ icon "show-all-entries" }}{{ t "menu.show_all_entries" }}</a>
        </li>
        {{ else }}
        <li>
            <a class="page-link" href="{{ route "tagEntries" "feedID" .feed.ID "tagName" .tagName }}">{{ icon "show-unread-entries" }}{{ t "menu.show_only_unread_entries" }}</a>
        </li>
        {{ end }}
    </nav>
</section>
{{ end }}

{{ define "content"}}
{{   if .entries }}
{{     template "entries_list.html" . }}
{{   else }}
{{     template "info.html" "alert.no_tag_entry" }}
{{   end }}
{{ end }}
