{{ if not .showOnlyUnreadEntries }}
<div class="pagination-top">
    {{ template "pagination.html" .pagination }}
</div>
{{ end }}

<div class="items">
    {{ range .entries }}
    {{   template "item" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry "lastEntry" $.lastEntry "requestURI" $.requestURI "showOnlyUnreadEntries" $.showOnlyUnreadEntries }}
    {{ end }}
</div>

{{ if .showOnlyUnreadEntries }}

<section class="page-header scroll-down-go-next">
    <div>
        {{ icon "mark-page-as-read" }}
        Scroll down to mark all as read and go to the next page.
    </div>
    <div>
        {{ t "confirm.loading" }}
    </div>
</section>

{{ else }}

<div class="pagination-bottom">
    {{ template "pagination.html" .pagination }}
</div>

{{ end }}
