{{- /*
.user
.entry
.hasSaveEntry
.showOnlyUnreadEntries
*/ -}}

<div class="item-meta">
    <ul class="item-meta-icons">
        <li class="item-meta-icons-read">
            <button
              aria-describedby="entry-title-{{ .entry.ID }}"
              title="{{ t "entry.status.title" }}"
              data-toggle-status="true"
              data-label-loading="{{ t "entry.state.saving" }}"
              data-label-read="{{ t "entry.status.mark_as_read" }}"
              data-label-unread="{{ t "entry.status.mark_as_unread" }}"
              data-value="{{ if eq .entry.Status "read" }}read{{ else }}unread{{ end }}"
            >{{ if eq .entry.Status "read" }}{{ icon "unread" }}{{ else }}{{ icon "read" }}{{ end }}<span class="icon-label">{{ if eq .entry.Status "read" }}{{ t "entry.status.mark_as_unread" }}{{ else }}{{ t "entry.status.mark_as_read" }}{{ end }}</span></button>
        </li>

        <li class="item-meta-icons-star">
            <button
              aria-describedby="entry-title-{{ .entry.ID }}"
              data-toggle-bookmark="true"
              data-bookmark-url="{{ route "toggleBookmark" "entryID" .entry.ID }}"
              data-label-loading="{{ t "entry.state.saving" }}"
              data-label-star="{{ t "entry.bookmark.toggle.on" }}"
              data-label-unstar="{{ t "entry.bookmark.toggle.off" }}"
              data-value="{{ if .entry.Starred }}star{{ else }}unstar{{ end }}">
                {{ if .entry.Starred }}
                {{   icon "unstar" }}
                {{ else }}
                {{   icon "star" }}
                {{ end }}
                <span class="icon-label">
                    {{ if .entry.Starred }}
                    {{   t "entry.bookmark.toggle.off" }}
                    {{ else }}
                    {{   t "entry.bookmark.toggle.on" }}
                    {{ end }}
                </span>
            </button>
        </li>

        {{ if and .entry.URLSafe (not .user.AlwaysOpenExternalLinks) }}
        <li class="item-meta-icons-download">
            {{- $downloadEntry := route "downloadEntry" "feedID" .entry.Feed.ID  "entryID" .entry.ID -}}
            {{- if .showOnlyUnreadEntries -}}
            {{-   $downloadEntry = printf "%s?unread=1" $downloadEntry -}}
            {{- end -}}

            <button
              class="page-button"
              title="{{ t "entry.scraper.title" }}"
              hx-get="{{ $downloadEntry }}"
              hx-target="closest .item"
              hx-indicator="this"
              hx-disable="this">
                {{ icon "scraper" }}
                <span class="icon-label">{{ t "entry.scraper.label" }}</span>
            </button>
        </li>
        {{ end }}

        {{ if .hasSaveEntry }}
        <li>
            <button
              aria-describedby="entry-title-{{ .entry.ID }}"
              title="{{ t "entry.save.title" }}"
              data-save-entry="true"
              data-save-url="{{ route "saveEntry" "entryID" .entry.ID }}"
              data-label-loading="{{ t "entry.state.saving" }}"
              data-label-done="{{ t "entry.save.completed" }}">
                {{ icon "save" }}
                <span class="icon-label">{{ t "entry.save.label" }}</span>
            </button>
        </li>
        {{ end }}

        {{ if not .user.AlwaysOpenExternalLinks }}
        <li class="item-meta-icons-external-url">
            {{ if .entry.URLSafe }}
            <a href="{{ .entry.URL | safeURL  }}"
               {{ $.user.TargetBlank }}
               aria-describedby="entry-title-{{ .entry.ID }}"
               rel="noopener noreferrer"
               referrerpolicy="no-referrer"
               data-original-link="{{ .user.MarkReadOnView }}">
                {{ icon "external-link" }}
                <span class="icon-label">{{ t "entry.external_link.label" }}</span>
            </a>
            {{ else }}
            <button
              class="quarantined"
              title="Quarantined: {{ .entry.URL }}"
              disabled>
                {{ icon "external-link" }}
                <span class="icon-label">
                    {{ t "entry.external_link.label" }}
                </span>
            </button>
            {{ end }}
        </li>
        {{ end }}

        {{ if .entry.CommentsURL }}
        <li class="item-meta-icons-comments">
            <a href="{{ .entry.CommentsURL }}"
               {{ $.user.TargetBlank }}
               aria-describedby="entry-title-{{ .entry.ID }}"
               title="{{ t "entry.comments.title" }}"
               rel="noopener noreferrer"
               referrerpolicy="no-referrer"
               data-comments-link="{{ .user.MarkReadOnView }}">
                {{ icon "comment" }}
                <span class="icon-label">{{ t "entry.comments.label" }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
