{{- /*
.user
.entry
.hasSaveEntry
.showOnlyUnreadEntries
.inlined
*/ -}}

{{ template "item_meta_info.html" . }}

<header class="item-header" dir="auto">
    {{- $inlineEntry := route "inlineEntry" "entryID" .entry.ID -}}
    {{- if .showOnlyUnreadEntries -}}
    {{-   $inlineEntry = printf "%s?unread=1" $inlineEntry -}}
    {{- end -}}

    <h2 id="entry-title-{{ .entry.ID }}" class="item-title"
        lang="{{ .entry.Language }}"
        hx-target:inherited="closest .item">

        {{ if .entry.URLSafe }}
        <a href="{{ .entry.URL | safeURL }}"
           {{ if or .user.AlwaysOpenExternalLinks .inlined }}
           data-original-link="{{ .user.MarkReadOnView }}"
           {{ else }}
           hx-get="{{ $inlineEntry }}"
           {{ end }}

           {{ .user.TargetBlank }}
           rel="noopener noreferrer"
           referrerpolicy="no-referrer">
            {{ .entry.AutoTitle | safeHTML }}
        </a>

        {{ else if not (or .user.AlwaysOpenExternalLinks .inlined) }}
        <button class="reset" type="button" hx-get="{{ $inlineEntry }}">
            {{ .entry.AutoTitle | safeHTML }}
        </button>

        {{ else }}
        {{   .entry.AutoTitle | safeHTML }}
        {{ end }}
    </h2>

    <span class="category {{ if .entry.Feed.Category.HiddenLabel }}hideLabel{{ end }}">
        <a href="{{ route "categoryEntries" "categoryID" .entry.Feed.Category.ID }}"
           aria-label="{{ t "page.category_label" .entry.Feed.Category.Title }}">
            {{ .entry.Feed.Category.Title }}
        </a>
    </span>
</header>

{{ block "entryContent" . }}
{{ end }}

{{ template "item_meta_icons.html" . }}
