{{- /*
.user
.entry
.hasSaveEntry
.showOnlyUnreadEntries
*/ -}}

{{ template "item_meta" extend . "withInfo" true }}

<header class="item-header" dir="auto">
    <h2 id="entry-title-{{ .entry.ID }}" class="item-title" lang="{{ .entry.Language }}">
        {{ if .entry.URLSafe }}

        <a href="{{ .entry.URL | safeURL }}"

           {{ if .user.AlwaysOpenExternalLinks }}
           data-original-link="{{ .user.MarkReadOnView }}"
           {{ else }}
           hx-get="{{ route "inlineEntry" "entryID" .entry.ID }}"
           hx-indicator="closest .item"
           hx-swap="outerHTML"
           hx-target="next .entry-content.htmx-indicator"
           hx-trigger="click"
           {{ end }}

           {{ .user.TargetBlank }}
           rel="noopener noreferrer"
           referrerpolicy="no-referrer">
            {{ .entry.AutoTitle | safeHTML }}
        </a>

        {{ else if not .user.AlwaysOpenExternalLinks }}

        <button class="reset"
                type="button"
                hx-get="{{ route "inlineEntry" "entryID" .entry.ID }}"
                hx-indicator="closest .item"
                hx-swap="outerHTML"
                hx-target="next .entry-content.htmx-indicator"
                hx-trigger="click">
            {{ .entry.AutoTitle | safeHTML }}
        </button>

        {{ else }}
        {{   .entry.AutoTitle | safeHTML }}
        {{ end }}
    </h2>

    <span class="category {{ if .entry.Feed.Category.HiddenLabel }}hideLabel{{ end }}">
        <a href="{{ route "categoryEntries" "categoryID" .entry.Feed.Category.ID }}"
           aria-label="{{ t "page.category_label" .entry.Feed.Category.Title }}">
            {{ .entry.Feed.Category.Title }}
        </a>
    </span>
</header>

{{ template "item_meta" extend . "withIcons" true }}
