<div class="pagination" hx-boost="true" hx-swap="show:html:top">
    <div class="pagination-backward">
        <div class="pagination-first {{ .FirstDisabled }}">
            {{ if .FirstDisabled }}
            {{   t "pagination.first" }}
            {{ else }}

            <a href="{{ .FirstRoute }}" data-page="first">
                {{ t "pagination.first" }}
            </a>

            {{ end }}
        </div>

        <div class="pagination-prev {{ .PrevDisabled }}">
            {{ if .PrevDisabled }}
            {{   t "pagination.previous" }}
            {{ else }}

            <a href="{{ .PrevRoute }}" data-page="previous" rel="prev">
                {{ t "pagination.previous" }}
            </a>

            {{ end }}
        </div>
    </div>

    <a href="#" class="elevator">
        {{ icon "up" }}
        {{ t "page.footer.elevator" }}
    </a>

    <div class="pagination-forward">
        <div class="pagination-next {{ .NextDisabled }}">
            {{ if .NextDisabled }}
            {{   t "pagination.next" }}
            {{ else }}

            <a href="{{ .NextRoute }}"
               data-page="next" data-offset="{{ .NextOffset }}" rel="next">
                {{ t "pagination.next" }}
            </a>

            {{ end }}
        </div>

        <div class="pagination-last {{ .LastDisabled }}">
            {{ if .LastDisabled }}
            {{   t "pagination.last" }}
            {{ else }}

            <a href="{{ .LastRoute }}" data-page="last"
               data-offset="{{ .LastOffset }}">
                {{ t "pagination.last" }}
            </a>

            {{ end }}
        </div>
    </div>
</div>
